<div style="width: 100%; height: 100%">
    <mat-grid-list>
            <div *ngIf="currUser; else loginScreen" class="beforeLogin" style="height: 100%;">
                <mat-card-header>
                    <mat-card-title><h3>User Details</h3></mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <mat-list>
                        <mat-list-item>
                            <div mat-line><strong>Name:</strong> {{currUser.name}}</div>
                        </mat-list-item>
                        <mat-list-item>
                            <div mat-line><strong>Email:</strong> {{currUser.email}}</div>
                        </mat-list-item>
                    </mat-list>
                </mat-card-content>
            </div>

            <ng-template #loginScreen>
                <div class = "beforeLogin">
                    <h3>Welcome to MSAU Assessment!</h3>
                    <br>
                    Please login to continue
                    
                </div>
                <div1></div1>
            </ng-template>
    </mat-grid-list>
    <myDiv *ngFor="let feature of data">
        <div>
            <!-- <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
        <button class="myButton button1" type="button" mat-raised-button color="primary" [disabled]="!currUser"
                (click)="goToPage(feature.link)">{{feature.title}}</button>
            </div>
    </myDiv>
</div>

